{% extends 'core/base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    {% if error == 1 %}
        <div class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3 danger">
            username already exists
        </div>
    {% endif %}
    <div class="flex items-center justify-center h-screen">
        <form class="bg-white p-6 rounded-lg shadow-lg w-full max-w-sm" method="POST">
            {% csrf_token %}
            <h2 class="text-2xl font-bold mb-6 text-gray-800 text-center">Register</h2>
            <div class="mb-4">
                <label for="username" class="block text-gray-700 font-medium mb-2">Username</label>
                <input type="text" id="username" name="username" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500" placeholder="Enter your username">
            </div>
            <div class="mb-6">
                <label for="password" class="block text-gray-700 font-medium mb-2">Password</label>
                <input type="password" id="password" name="password" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500" placeholder="Enter your password">
            </div>
            <button type="submit" class="w-full bg-indigo-500 text-white font-bold py-2 px-4 rounded-md hover:bg-indigo-600 focus:outline-none focus:bg-indigo-700">Register</button>
        </form>
  </div>
{% endblock %}
